name: cookiecutter-deploy

on:
  workflow_call:
    inputs:
      APP_NAME:
        required: true
        type: string
      SERVICE:
        required: true
        type: string
      RUNNER_LABEL:
        required: true
        type: string
      ENVIRONMENT:
        required: false
        type: string
        default: prod
      USE_OIDC: # now obsolete, but needs to remain to ensure backwards compatibility for existing consumers.
        required: false
        type: boolean
        default: true
    secrets:
      AWS_GITHUBRUNNER_PAT:
        required: true
      AWS_GITHUBRUNNER_PAT_USER:
        required: true
      AWS_REGION:
        required: true
      AWS_ACCOUNT_ID:
        required: true
      AWS_GITHUBRUNNER_USER_ACCESS_KEY: # now obsolete, but needs to remain to ensure backwards compatibility for existing consumers.
        required: false
        type: string
      AWS_GITHUBRUNNER_USER_SECRET_ID: # now obsolete, but needs to remain to ensure backwards compatibility for existing consumers.
        required: false
        type: string

jobs:
  infra-test:
    name: infra-test
    runs-on: ${{ inputs.RUNNER_LABEL }}

    steps:
    - name: AWS Authentication
      uses: i-dot-ai/i-dot-ai-core-github-actions/.github/actions/authenticate-aws@main
      with:
        ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
        AWS_REGION: ${{ secrets.AWS_REGION }}
        AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

    - name: Check endpoint response
      id: health_check
      env:
        ENVIRONMENT: ${{inputs.ENVIRONMENT}}
        APP_NAME: ${{inputs.APP_NAME}}
        SERVICE: ${{inputs.SERVICE}}
      run: aws ecs wait services-stable --cluster i-dot-ai-$ENVIRONMENT-ecs-cluster --services i-dot-ai-$ENVIRONMENT-$APP_NAME-$SERVICE-ecs-service
