name: stop-runner

on:
  workflow_call:
    inputs:
      RUNNER_LABEL:
        required: true
        type: string
      EC2_INSTANCE_ID:
        required: true
        type: string
      ENVIRONMENT:
        required: false
        default: prod
        type: string
      APP_NAME:
        required: false
        type: string
      USE_OIDC: # now obsolete, but needs to remain to ensure backwards compatibility for existing consumers.
        required: false
        type: boolean
        default: true
    secrets:
      AWS_GITHUBRUNNER_PAT:
        required: true
      AWS_REGION:
        required: true
      AWS_ACCOUNT_ID:
        required: true

jobs:
  stop-runner:
    if: github.repository == 'i-dot-ai/${{ github.repository }}'
    runs-on: ubuntu-latest
    steps:
      - name: AWS Authentication
        uses: i-dot-ai/i-dot-ai-core-github-actions/.github/actions/authenticate-aws@main
        with:
          APP_NAME: ${{ inputs.APP_NAME }}
          ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}

      - name: Stop EC2 runner
        if: ${{ ! contains( 'persistent', inputs.RUNNER_LABEL ) }}
        uses: machulav/ec2-github-runner@v2
        with:
          mode: stop
          github-token: ${{ secrets.AWS_GITHUBRUNNER_PAT }}
          label: ${{ inputs.RUNNER_LABEL }}
          ec2-instance-id: ${{ inputs.EC2_INSTANCE_ID }}